In [2]:
import pandas as pd
import numpy as np

In [3]:
import pymysql
import sqlalchemy as alch

In [4]:
import os
from dotenv import load_dotenv 
load_dotenv()

True

In [5]:
sql_password = os.getenv("SQL_password")

In [6]:
movies = pd.read_csv("../data/movies.csv", index_col=0)

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7279 entries, 0 to 7278
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   title                       7279 non-null   object
 1   year                        7279 non-null   int64
 2   bt_score                    7279 non-null   int64
 3   dubious                     7279 non-null   int64
 4   imdbid                      7279 non-null   int64
 5   tmdbId                      7279 non-null   int64
 6   genres                      7279 non-null   object
 7   popularity                  7279 non-null   float64
 8   production_companies        7279 non-null   object
 9   production_countries        7279 non-null   object
 10  release_date                7279 non-null   object
 11  revenue                     7279 non-null   float64
 12  vote_average                7279 non-null   float64
 13  vote_count                  7279 non-null   float64
 14  cast                        7279 non-null   object
 15  crew                        7279 non-null   object
 16  budget                      7279 non-null   float64
 17  cast_gender                 7279 non-null   object
 18  crew_gender                 7279 non-null   object
 19  cast_female_representation  7279 non-null   float64
 20  crew_female_representation  7279 non-null   float64
dtypes: float64(7), int64(5), object(9)
memory usage: 1.2+ MB

In [10]:
movies.sample(5)

,title,year,bt_score,dubious,imdbid,tmdbId,genres,popularity,production_companies,production_countries,...,revenue,vote_average,vote_count,cast,crew,budget,cast_gender,crew_gender,cast_female_representation,crew_female_representation
3852,Ouija: Origin of Evil,2016,3,0,4361050,335796,"['Horror', 'Thriller']",37.563,"['Platinum Dunes', 'Universal Pictures', 'Alls...",['United States of America'],...,81705746.0,6.1,2062.0,"[{'adult': False, 'gender': 1, 'id': 53755, 'k...","[{'adult': False, 'gender': 2, 'id': 865, 'kno...",9000000.0,"[1, 1, 1, 2, 2, 2, 2, 1, 1, 0, 1, 2, 1, 1, 2, ...","[2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 1, ...",52.941176,15.094340
581,Nashville,1975,3,0,73440,3121,"['Drama', 'Music', 'Comedy']",6.267,"['Paramount', 'ABC Entertainment']",['United States of America'],...,10.0,7.4,279.0,"[{'adult': False, 'gender': 0, 'id': 9808, 'kn...","[{'adult': False, 'gender': 2, 'id': 1888, 'kn...",2200000.0,"[0, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1, ...","[2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2, 0, ...",33.333333,11.764706
2918,Butter,2011,3,0,1349451,79697,['Comedy'],8.579,"['Michael De Luca Productions', 'Vandalia Films']",['United States of America'],...,175706.0,5.9,321.0,"[{'adult': False, 'gender': 2, 'id': 6968, 'kn...","[{'adult': False, 'gender': 2, 'id': 1307, 'kn...",0.0,"[2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 2, 1, ...","[2, 2, 2, 2, 2, 1, 2, 2, 0, 0, 0, 2, 2, 0, 0, ...",57.692308,17.391304
6339,Boys,2014,1,0,3318220,244063,['Drama'],10.085,"['NTR', 'Pupkin']",['Netherlands'],...,0.0,7.7,556.0,"[{'adult': False, 'gender': 2, 'id': 1279249, ...","[{'adult': False, 'gender': 0, 'id': 34876, 'k...",0.0,"[2, 0, 2, 2, 0, 0, 2, 0, 0, 1, 2, 1, 0, 0, 1]","[0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",20.000000,0.000000
4004,The Incredible Jessica James,2017,3,0,5990342,432789,"['Romance', 'Comedy']",7.281,['Beachside Films'],[],...,0.0,6.2,168.0,"[{'adult': False, 'gender': 1, 'id': 1394648, ...","[{'adult': False, 'gender': 2, 'id': 52413, 'k...",0.0,"[1, 2, 1, 2, 1, 1, 1, 2, 0, 0, 1, 0, 0, 0, 1, ...","[2, 2, 1, 0, 2, 2, 0, 0, 2, 0, 0, 0]",29.629630,8.333333

- **bt_score** : The bechdel test score. <br>
    0: Failed the test :( <br>
    1: It has to have at least two named women in it.<br>
    2: Who talk to each other.<br>
    3: About something besides a man.
    
- **dubious**: Whether the submitter considered the rating dubious.

- **imdbid**: id on IMDb 

- **tmdbId**: id on TMDB

- **popularity**: TMDB popularity.

- **revenue**: revenue in American Dollar (USD). Not adjusted for inflation.

- **vote_average**: average rating

- **vote_count**: number of ratings
    
- **cast and crew**: a json with cast and crew information. Check the response body in the TMDB api docs.

- **cast_gender and crew_gender**: gender of cast and crew.<br>
    0: Not specified;<br>
    1: Female;<br>
    2: Male;<br>
    3: Non-binary.
    
- **cast_female_representation** and **crew_female_representation**: percentage of women (1) in the cast or crew.

In [11]:
# nuove colonne: regista, produttore

In [13]:
set(movies["release_date"])

{'12/01/2013',
 '11/10/2000',
 '09/08/2002',
 '22/06/1960',
 '18/08/2011',
 '17/04/2008',
 '01/06/2007',
 '11/05/1936',
 '06/03/1942',
 '20/02/2004',
 '15/07/2011',
 '03/10/1957',
 '25/05/1932',
 '10/10/2006',
 '07/01/1977',
 '14/10/1977',
 '08/07/1959',
 '09/08/1996',
 '28/10/2010',
 '20/12/1974',
 '18/09/1951',
 '01/04/1990',
 '11/08/1989',
 '10/11/1954',
 '29/12/1939',
 '25/07/2013',
 '23/04/1971',
 '28/11/1974',
 '01/01/1993',
 '18/06/1970',
 '20/12/1989',
 '24/04/1942',
 '10/10/2009',
 '30/07/1961',
 '14/06/1974',
 '27/08/2008',
 '08/09/1988',
 '15/05/2013',
 '01/02/1967',
 '24/01/1961',
 '02/07/2012',
 '30/03/2013',
 '01/04/2010',
 '05/07/2016',
 '07/11/1981',
 '21/05/1993',
 '06/05/1985',
 '14/04/1999',
 '14/12/1965',
 '16/12/1987',
 '03/05/2013',
 '04/08/2006',
 '06/09/2004',
 '12/04/1991',
 '26/03/1999',
 '08/12/2001',
 '06/09/2013',
 '10/07/1942',
 '14/02/2010',
 '19/05/2015',
 '19/11/1948',
 '10/07/1996',
 '09/06/2010',
 '16/03/1984',
 '03/11/2014',
 '27/07/2001',
 '18/02/1983',
 '07/05/1982',
 '03/10/2012',
 '31/07/2009',
 '21/12/1972',
 '09/04/1996',
 '08/04/2001',
 '16/03/1999',
 '19/09/2008',
 '16/05/2013',
 '17/05/2007',
 '10/01/2013',
 '17/03/1988',
 '18/04/1997',
 '17/07/1987',
 '09/04/1936',
 '27/10/2011',
 '14/10/1988',
 '30/04/2011',
 '06/06/2001',
 '16/05/2014',
 '20/07/2016',
 '31/08/1950',
 '05/03/1954',
 '13/08/1993',
 '24/10/2012',
 '14/03/2012',
 '30/01/1929',
 '22/01/2015',
 '30/08/2012',
 '09/02/1953',
 '18/07/2004',
 '13/09/1949',
 '13/06/2012',
 '15/08/2012',
 '16/02/1922',
 '05/06/1983',
 '21/11/2012',
 '22/01/1992',
 '06/01/2011',
 '06/03/1985',
 '17/05/2011',
 '02/07/2013',
 '26/03/1973',
 '13/11/2002',
 '12/08/2004',
 '25/01/2005',
 '26/01/1972',
 '29/05/1957',
 '13/08/2010',
 '19/05/1999',
 '15/07/2004',
 '14/08/2009',
 '08/02/1936',
 '28/08/2013',
 '26/08/2016',
 '17/02/1989',
 '15/11/1990',
 '30/06/1971',
 '17/02/1968',
 '17/12/1982',
 '24/09/2014',
 '02/06/2001',
 '06/06/2015',
 '16/12/1977',
 '14/12/1983',
 '22/12/1998',
 '06/07/2012',
 '24/05/1946',
 '03/07/2013',
 '13/12/1967',
 '01/01/1973',
 '17/02/2017',
 '21/02/1941',
 '16/05/2012',
 '19/06/2013',
 '05/10/1972',
 '04/03/2002',
 '23/08/1946',
 '13/08/1974',
 '14/12/2006',
 '24/05/2002',
 '29/03/1966',
 '09/05/1990',
 '14/09/2001',
 '09/04/2011',
 '05/11/1996',
 '18/07/1998',
 '19/09/2012',
 '14/10/1978',
 '06/02/1987',
 '09/08/2013',
 '20/02/2016',
 '07/10/1999',
 '05/12/1942',
 '10/07/2005',
 '01/06/2011',
 '05/12/1940',
 '07/06/2005',
 '04/04/1971',
 '03/07/1991',
 '26/10/2013',
 '12/04/1996',
 '07/06/1984',
 '12/08/2014',
 '19/10/1984',
 '21/08/1996',
 '13/11/2009',
 '16/11/1985',
 '23/01/2010',
 '20/06/2017',
 '03/06/2006',
 '01/11/1977',
 '24/09/2016',
 '20/11/1997',
 '22/11/1975',
 '11/07/2013',
 '26/11/1999',
 '21/06/2014',
 '12/11/1936',
 '12/10/2007',
 '05/11/2007',
 '02/07/2003',
 '21/04/1987',
 '25/09/1999',
 '14/02/1963',
 '27/01/1995',
 '21/06/2005',
 '06/11/2002',
 '21/05/2014',
 '08/06/1999',
 '23/05/2007',
 '06/01/2006',
 '25/02/1977',
 '21/08/2013',
 '27/03/2008',
 '01/01/1986',
 '20/10/1989',
 '24/06/2016',
 '20/01/2001',
 '08/10/2004',
 '03/03/2011',
 '24/07/1987',
 '01/03/1940',
 '02/11/2017',
 '19/08/2015',
 '12/11/2004',
 '15/06/1967',
 '08/02/1960',
 '15/11/1935',
 '13/03/1974',
 '08/12/1978',
 '02/03/2011',
 '14/09/2016',
 '22/04/1972',
 '26/02/2014',
 '10/04/2014',
 '24/07/1981',
 '28/08/1895',
 '12/04/1956',
 '18/08/1972',
 '04/07/2004',
 '01/07/1998',
 '10/11/2000',
 '31/03/2010',
 '01/05/1947',
 '20/01/2005',
 '04/06/1936',
 '22/08/2014',
 '13/10/2010',
 '16/09/1928',
 '11/10/1996',
 '12/11/1980',
 '25/07/2003',
 '09/11/2012',
 '01/08/2009',
 '11/12/1981',
 '17/10/1974',
 '22/06/2012',
 '12/11/2009',
 '28/09/1951',
 '22/04/1953',
 '15/02/2017',
 '01/10/2014',
 '22/11/1991',
 '30/07/2009',
 '28/10/2007',
 '28/05/2004',
 '07/09/1995',
 '13/08/1982',
 '01/07/2008',
 '29/06/2011',
 '26/05/1976',
 '31/07/2012',
 '14/11/1977',
 '23/09/1968',
 '25/05/1991',
 '15/09/2016',
 '25/12/1985',
 '21/12/1978',
 '30/06/1992',
 '24/10/1997',
 '02/12/2016',
 '12/03/1996',
 '30/05/1952',
 '06/10/2009',
 '31/03/1989',
 '15/12/1996',
 '01/10/2010',
 '09/05/1971',
 '24/03/2011',
 '09/12/1988',
 '27/11/1968',
 '29/06/2001',
 '09/02/1931',
 '12/02/1943',
 '01/03/2015',
 '07/10/2008',
 '15/12/1965',
 '17/12/1980',
 '11/02/2015',
 '29/11/1971',
 '01/07/2015',
 '13/12/1971',
 '03/10/2003',
 '24/09/2009',
 '02/12/1999',
 '22/03/1984',
 '17/06/1983',
 '13/02/2007',
 '25/12/1945',
 '15/09/1972',
 '18/01/2004',
 '09/03/1983',
 '03/03/1989',
 '05/04/1926',
 '24/02/1953',
 '19/12/1963',
 '18/11/2016',
 '24/08/1942',
 '30/12/2015',
 '31/01/2003',
 '30/05/2017',
 '09/04/1966',
 '20/12/2017',
 '22/09/1977',
 '17/02/1983',
 '16/02/1989',
 '21/08/1987',
 '30/06/2006',
 '27/10/1995',
 '03/12/2010',
 '24/04/1981',
 '17/07/1970',
 '12/12/2013',
 '17/12/1986',
 '05/06/1998',
 '14/09/2010',
 '01/05/1973',
 '30/07/2012',
 '26/01/2000',
 '01/05/2014',
 '11/05/1949',
 '12/02/1982',
 '05/02/2014',
 '14/01/2016',
 '02/10/2014',
 '11/02/1963',
 '07/08/2013',
 '16/01/2014',
 '12/02/2014',
 '24/10/1927',
 '14/05/2015',
 '18/10/2002',
 '19/05/2003',
 '04/08/2000',
 '13/10/1995',
 '14/06/1962',
 '30/11/2001',
 '23/07/1982',
 '08/02/1915',
 '10/06/1964',
 '16/02/1996',
 '03/08/1965',
 '01/05/1961',
 '01/05/1971',
 '03/10/1951',
 '03/04/1956',
 '27/08/2010',
 '22/03/1982',
 '01/11/1991',
 '23/01/1999',
 '07/10/2000',
 '31/01/1980',
 '01/08/1931',
 '31/12/2015',
 '03/06/1994',
 '13/01/2015',
 '20/01/2003',
 '25/11/1976',
 '18/07/1997',
 '18/09/1992',
 '18/07/2008',
 '28/08/1991',
 '08/03/2013',
 '26/12/2013',
 '20/07/2013',
 '04/10/2005',
 '03/11/1994',
 '29/03/2017',
 '20/09/1962',
 '01/05/2003',
 '04/08/2004',
 '13/10/1960',
 '15/12/1994',
 '21/05/2002',
 '15/02/2002',
 '15/06/1954',
 '21/07/1971',
 '18/07/2003',
 '25/08/2006',
 '20/02/1971',
 '08/05/2001',
 '09/03/2011',
 '17/02/2009',
 '04/08/1999',
 '13/05/1961',
 '24/09/2010',
 '25/01/1970',
 '19/06/1962',
 '12/01/1990',
 '30/04/2006',
 '13/12/1985',
 '15/06/1973',
 '17/07/2005',
 '10/12/1985',
 '23/01/1981',
 '13/02/1949',
 '21/12/1948',
 '02/09/2002',
 '04/12/1947',
 '29/10/2008',
 '10/09/1954',
 '01/01/1896',
 '06/05/2010',
 '01/09/2017',
 '03/11/1933',
 '28/10/1994',
 '11/10/2002',
 '22/11/2006',
 '17/09/2016',
 '26/10/2011',
 '10/09/2009',
 '09/04/2015',
 '10/09/1969',
 '26/08/1977',
 '10/12/1931',
 '21/08/2004',
 '09/09/2001',
 '21/12/1988',
 '30/08/2005',
 '02/10/2013',
 '19/10/2007',
 '05/11/2003',
 '01/01/1987',
 '25/01/2010',
 '18/02/1960',
 '29/03/1970',
 '19/12/2013',
 '19/04/1954',
 '05/10/1995',
 '31/12/2013',
 '22/11/1995',
 '31/05/2012',
 '01/04/1923',
 '05/11/1998',
 '28/10/2016',
 '16/06/2010',
 '16/02/1952',
 '25/12/2006',
 '25/04/2013',
 '28/09/2004',
 '04/10/1985',
 '01/06/2010',
 '01/03/1993',
 '16/01/2009',
 '18/12/1980',
 '20/02/1997',
 '06/10/1995',
 '20/06/1965',
 '13/11/1930',
 '22/05/1987',
 '23/04/2015',
 '08/11/1973',
 '07/11/2009',
 '30/10/2009',
 '26/09/1980',
 '19/05/1950',
 '28/03/1963',
 '01/10/1989',
 '31/10/2013',
 '07/10/1962',
 '03/02/2011',
 '23/05/2006',
 '18/12/2015',
 '13/08/1963',
 '12/04/1973',
 '21/06/1991',
 '29/01/1955',
 '24/03/1982',
 '24/09/1998',
 '28/10/2009',
 '06/09/1995',
 '12/04/2013',
 '01/02/1946',
 '07/02/1968',
 '20/01/2006',
 '11/09/1998',
 '11/08/2015',
 '07/04/2004',
 '31/10/2014',
 '03/07/2012',
 '12/04/2006',
 '01/08/1939',
 '25/03/1994',
 '01/08/1987',
 '09/11/2010',
 '28/03/2001',
 '23/01/2007',
 '19/09/1968',
 '06/02/2013',
 '26/06/1979',
 '03/09/2004',
 '22/07/2016',
 '07/06/2006',
 '25/09/2015',
 '13/06/2009',
 '18/12/1985',
 '13/07/1981',
 '21/08/1944',
 '08/02/2001',
 '07/05/2015',
 '01/01/1909',
 '20/02/2015',
 '23/12/2016',
 '14/06/1970',
 '07/08/1981',
 '03/01/2013',
 '14/01/2000',
 '03/05/1996',
 '10/02/2006',
 '02/04/1922',
 '01/10/1998',
 '20/05/2004',
 '03/02/1999',
 '30/03/1958',
 '22/07/2015',
 '15/09/1994',
 '10/03/1949',
 '01/11/2011',
 '22/09/1998',
 '14/01/2004',
 '11/07/2003',
 '16/08/2012',
 '22/03/1985',
 '07/11/1985',
 '04/11/1953',
 '19/02/1982',
 '03/03/1937',
 '16/06/1983',
 '09/10/2007',
 '19/07/1991',
 '13/06/2003',
 '15/01/1972',
 '25/09/1962',
 '16/04/2012',
 '14/10/2012',
 '02/10/1980',
 '03/11/1976',
 '23/10/2003',
 '26/05/2017',
 '08/10/1978',
 '30/01/2013',
 '17/04/2015',
 '28/05/1936',
 '04/09/2010',
 '28/11/2011',
 '09/07/2004',
 '03/12/1986',
 '01/07/1958',
 '28/02/1997',
 '21/12/2016',
 '22/03/2016',
 '26/04/2007',
 '20/07/1988',
 '05/04/1951',
 '29/05/1927',
 '09/04/2013',
 '12/06/1963',
 '04/03/2009',
 '22/05/2014',
 '12/08/2016',
 '13/08/1945',
 '01/07/2014',
 '13/05/1919',
 '21/05/2008',
 '27/09/2016',
 '25/12/2002',
 '25/05/1944',
 '04/10/1968',
 '27/06/1991',
 '11/05/2010',
 '07/06/2001',
 '23/01/2016',
 '27/07/2005',
 '20/06/1975',
 '17/09/1999',
 '08/11/1971',
 '29/07/1989',
 '02/07/1980',
 '15/03/2013',
 '22/12/2000',
 '01/04/1948',
 '27/05/1933',
 '21/03/1986',
 '09/03/2007',
 '27/12/2012',
 '10/09/1999',
 '09/09/1945',
 '11/02/1997',
 '07/09/2013',
 '22/01/2017',
 '17/12/1966',
 '22/10/2005',
 '04/11/2005',
 '25/01/2006',
 '05/06/1997',
 '24/09/1975',
 '13/09/2009',
 '26/04/1996',
 '23/08/2013',
 '22/06/1954',
 '07/03/1975',
 '30/10/1987',
 '25/03/2009',
 '11/10/2013',
 '06/10/2015',
 '09/10/2012',
 '21/08/2003',
 '24/03/2004',
 '19/09/2014',
 '30/04/2015',
 '19/05/2009',
 '05/02/1960',
 '11/05/2016',
 '07/10/1938',
 '17/01/2008',
 '03/02/2001',
 '25/12/1948',
 '28/08/2002',
 '11/02/1999',
 '16/12/1999',
 '29/09/1986',
 '24/12/1988',
 '23/12/1953',
 '08/08/1965',
 '12/04/1995',
 '25/08/1958',
 '18/10/1945',
 '28/09/2010',
 '17/07/1964',
 '20/08/2010',
 '11/08/2002',
 '07/07/2017',
 '05/02/2009',
 '06/10/2016',
 '07/10/1976',
 '21/12/1996',
 '30/07/2004',
 '01/01/1992',
 '17/10/2007',
 '01/06/1973',
 '15/11/1973',
 '15/10/1969',
 '01/06/2017',
 '27/11/1931',
 '09/07/1939',
 '15/12/1974',
 '07/09/1966',
 '13/03/2002',
 '08/10/2009',
 '03/02/2000',
 '26/01/2001',
 '20/11/2003',
 '08/03/2011',
 '12/10/2012',
 '13/06/1989',
 '17/03/2017',
 '29/07/2008',
 '16/11/1946',
 '23/01/2011',
 '26/10/1970',
 '06/06/1946',
 '28/07/1932',
 '02/03/1995',
 '26/06/1982',
 '08/10/1999',
 '22/09/2011',
 '31/07/1968',
 '17/05/2009',
 '19/07/2010',
 '13/02/1998',
 '01/10/2008',
 '25/05/2012',
 '01/10/1948',
 '08/04/2009',
 '12/09/2013',
 '06/02/2007',
 '31/01/2011',
 '07/07/2011',
 '14/09/1990',
 '02/09/2014',
 '26/12/1977',
 '07/11/1984',
 '22/02/1950',
 '18/10/2013',
 '16/04/1988',
 '25/03/1999',
 '22/09/1925',
 '13/05/2016',
 '19/10/1983',
 '17/05/1991',
 '11/06/1947',
 '21/02/1992',
 '25/03/1988',
 '01/05/2013',
 '26/11/1987',
 '22/09/1955',
 '22/05/1998',
 '11/08/2005',
 '25/03/2011',
 '02/05/2006',
 '01/12/1962',
 '07/02/1951',
 '25/05/1983',
 '02/03/2006',
 '09/07/2010',
 '29/12/1995',
 '07/08/1934',
 '04/03/2008',
 '11/12/2011',
 '13/08/1997',
 '08/02/1933',
 '18/09/1998',
 '08/09/2000',
 '01/12/1978',
 '06/03/1991',
 '21/06/2000',
 '19/04/1977',
 '12/07/1991',
 '20/04/1996',
 '26/10/1984',
 '17/08/2000',
 '16/07/1931',
 '26/03/1953',
 '11/09/2007',
 '24/12/1938',
 '01/11/1937',
 '20/11/1981',
 '05/06/1991',
 '18/06/1999',
 '27/10/1994',
 '01/06/1955',
 '07/02/1974',
 '07/04/1989',
 '12/03/1976',
 '19/11/1982',
 '27/12/1967',
 '02/11/1962',
 '25/11/1937',
 '30/06/1995',
 '05/09/1991',
 '15/08/1903',
 '22/07/2002',
 '28/08/2003',
 '08/01/2007',
 '01/01/1921',
 '28/03/1997',
 '28/09/1943',
 '15/10/1940',
 '17/06/2015',
 '16/04/1999',
 '13/09/2005',
 '18/07/2013',
 '23/09/1994',
 '20/10/1932',
 '01/01/1991',
 '01/08/2003',
 '17/11/1998',
 '23/05/1973',
 '21/03/2009',
 '17/07/2014',
 '14/10/1965',
 '16/11/2016',
 '01/04/1953',
 '09/08/1989',
 '22/02/2013',
 '25/03/2010',
 '17/04/1966',
 '13/05/2014',
 '10/06/1939',
 '12/05/2015',
 '12/11/1987',
 '15/07/1947',
 '20/02/1984',
 '27/03/1992',
 '04/12/2013',
 '18/04/2013',
 '15/01/1957',
 '09/02/2004',
 '13/08/2014',
 '25/01/1979',
 '25/12/2007',
 '30/03/2017',
 '05/09/2003',
 '12/08/2011',
 '19/09/1974',
 '20/12/1991',
 '04/06/1999',
 '21/11/1940',
 '13/05/1938',
 '23/02/2010',
 '10/06/2004',
 '30/10/2011',
 '18/03/2000',
 '01/01/1977',
 '01/12/1981',
 '08/05/2014',
 '04/09/1958',
 '25/06/1982',
 '26/12/1931',
 '03/06/1983',
 '01/07/1994',
 '28/12/1951',
 '15/06/1945',
 '01/10/1974',
 '05/08/1994',
 '24/01/2010',
 '02/04/2014',
 '01/05/1991',
 '09/09/2008',
 '25/05/1967',
 '04/12/1958',
 '05/08/2005',
 '18/12/1965',
 '13/11/1960',
 '28/12/2016',
 '13/10/1977',
 '12/06/1987',
 '16/01/1998',
 '10/08/1950',
 '07/07/1978',
 '31/05/1996',
 '21/05/1985',
 '26/01/1945',
 '07/09/2002',
 '02/05/1946',
 '03/08/2005',
 '08/02/2013',
 '23/09/2011',
 '24/11/1967',
 '09/05/1962',
 '24/01/2007',
 '11/07/2012',
 '02/08/2008',
 '21/01/1976',
 '29/04/1983',
 '11/04/2007',
 '01/01/1954',
 '01/06/2005',
 '16/01/2015',
 '11/12/2010',
 '15/01/1997',
 '11/02/2012',
 '14/06/1991',
 '21/01/1921',
 '20/09/2012',
 '28/06/2017',
 '09/12/1983',
 '15/03/2006',
 '30/10/1978',
 '06/01/2017',
 '01/01/1966',
 '25/06/2004',
 '08/02/2007',
 '27/09/1994',
 '16/10/2011',
 '30/07/2014',
 '26/11/1938',
 '04/12/1952',
 '20/02/2009',
 '28/06/1991',
 '31/07/1991',
 '01/09/2006',
 '20/04/1989',
 '18/10/2011',
 '30/05/1997',
 '17/05/2012',
 '24/09/1993',
 '22/01/2009',
 '29/10/2015',
 '17/10/2013',
 '09/08/1985',
 '13/09/2000',
 '02/06/2016',
 '26/08/2010',
 '22/07/1964',
 '03/12/1999',
 '25/08/2000',
 '24/01/2000',
 '02/10/1937',
 '24/06/1987',
 '12/06/2008',
 '16/04/2011',
 '07/06/1990',
 '25/10/2003',
 '15/08/2006',
 '14/11/1976',
 '19/07/2005',
 '22/06/1984',
 '07/03/1935',
 '08/04/2016',
 '24/10/2014',
 '04/06/1969',
 '28/01/1944',
 '13/02/1972',
 '19/05/2007',
 '14/07/1978',
 '22/07/2004',
 '23/06/2015',
 '01/12/2006',
 '22/02/1973',
 '19/10/1966',
 '18/01/2014',
 '29/01/2013',
 '20/11/2012',
 '01/01/2009',
 '21/12/2001',
 '14/10/1938',
 '25/01/2002',
 '20/01/2012',
 '01/05/2015',
 '12/04/2001',
 '24/04/1955',
 '05/11/1997',
 '31/08/1983',
 '13/07/2010',
 '05/05/2001',
 '05/10/2005',
 '06/10/2010',
 '22/04/2000',
 '24/06/2004',
 '07/11/1979',
 '27/02/1997',
 '06/07/2001',
 '18/01/2008',
 '01/04/2016',
 '23/07/2004',
 '15/11/1966',
 '22/11/1961',
 '22/07/1976',
 '14/05/1999',
 '13/01/2011',
 '16/03/1983',
 '10/07/1998',
 '29/08/2012',
 '28/07/2004',
 '16/08/2013',
 '21/10/1933',
 '29/10/1964',
 '14/12/2001',
 '04/12/1950',
 '22/06/2007',
 '09/07/1999',
 '17/12/2014',
 '15/03/1975',
 '06/10/2000',
 '07/03/2014',
 '20/04/2014',
 '21/07/1952',
 '21/08/2008',
 '13/06/2007',
 '12/04/1985',
 '11/09/2008',
 '02/02/1925',
 '13/01/2003',
 '19/06/1985',
 '19/11/2004',
 '29/08/1958',
 '01/02/1963',
 '01/01/1952',
 '25/10/2007',
 '10/07/1981',
 '15/10/2010',
 '08/06/2011',
 '20/09/2011',
 '23/06/1987',
 '07/01/1987',
 '18/12/1979',
 '12/12/2008',
 '16/12/1994',
 '11/04/1985',
 '04/04/2001',
 '24/06/1971',
 '02/04/2008',
 '06/11/2010',
 '10/12/2004',
 '21/09/2013',
 '26/11/2012',
 '17/11/2001',
 '08/04/1936',
 '01/06/1984',
 '31/01/2007',
 '24/11/1993',
 '29/01/2010',
 '16/10/1991',
 '17/05/2016',
 '10/06/2007',
 '02/05/1986',
 '24/05/2000',
 '28/06/1979',
 '01/01/1901',
 '22/06/1966',
 '13/02/1955',
 ...}

In [18]:
movies[~movies["release_date"].str.contains(r'\d{2}/\d{2}/\d{4}')]["release_date"]

Series([], Name: release_date, dtype: object)

In [47]:
movies.drop(columns=['crew','cast'], inplace=True)

In [ ]:
#dataframe per producing companies
'''
imbdid (pk)
title
release_year
producing_company
budget
bt_score       
dubious 
'''

In [14]:
import ast

production_companies_lst=[]
for index, row in movies.iterrows():
    # "production_companies" is stored as a string representation of a list, i had to convert it into a list first
    production_companies_list = ast.literal_eval(row["production_companies"])
    for el in production_companies_list:
        movie_dict = {}
        movie_dict["imdbid"] = row["imdbid"]
        movie_dict["title"] = row["title"]
        movie_dict["year"] = row["year"]
        movie_dict["production_companies"] = el
        movie_dict["bt_score"] = row["bt_score"]
        movie_dict["dubious"] = row["dubious"]
        movie_dict["budget"] = row["budget"]
        production_companies_lst.append(movie_dict)

production_companies = pd.DataFrame(production_companies_lst)

In [15]:
production_companies.sample(10)

,imdbid,title,year,production_companies,bt_score,dubious,budget
11538,4331970,Being 17,2016,Fidélité Films,3,0,0.0
4252,332285,Off the Map,2003,Holedigger Films,3,0,0.0
14763,87843,Once Upon a Time in America,1984,Rafran Cinematografica,1,0,30000000.0
15351,124819,Orgazmo,1997,Focus Features,1,1,1000000.0
9791,3125324,Beyond the Lights,2014,Black Entertainment Television (BET),3,0,7000000.0
12409,109676,Drop Zone,1994,Paramount,2,0,45000000.0
7529,1598778,Contagion,2011,Participant,3,0,60000000.0
8263,1855325,Resident Evil: Retribution,2012,Constantin Film,3,0,65000000.0
3187,139414,Lake Placid,1999,Rocking Chair Productions,3,0,27000000.0
15255,117500,The Rock,1996,Don Simpson/Jerry Bruckheimer Films,1,0,75000000.0

In [ ]:
# dataframe per cast gender

In [23]:
cast_lst=[]
for index, row in movies.iterrows():
    movie_dict = {}
    movie_dict["imdbid"] = row["imdbid"]
    movie_dict["title"] = row["title"]
    movie_dict["bt_score"] = row["bt_score"]
    movie_dict["female_cast_count"]=0
    movie_dict["male_cast_count"]=0
    movie_dict["nonbinary_cast_count"]=0
    cast_gender_lst = ast.literal_eval(row["cast_gender"])
    for el in cast_gender_lst:
        if el==1:
            movie_dict["female_cast_count"]+=1
        elif el==2:
            movie_dict["male_cast_count"]+=1
        elif el==3:
            movie_dict["nonbinary_cast_count"]+=1
    movie_dict["num_actors"]=len(cast_gender_lst)
    cast_lst.append(movie_dict)

cast = pd.DataFrame(cast_lst)

In [37]:
#dataframe per crew gender
crew_lst=[]
for index, row in movies.iterrows():
    movie_dict = {}
    movie_dict["imdbid"] = row["imdbid"]
    movie_dict["title"] = row["title"]
    movie_dict["bt_score"] = row["bt_score"]
    movie_dict["female_crew"]=0
    movie_dict["male_crew"]=0
    movie_dict["nonbinary_crew"]=0
    crew_gender_lst = ast.literal_eval(row["crew_gender"])
    for el in crew_gender_lst:
        if el==1:
            movie_dict["female_crew"]+=1
        elif el==2:
            movie_dict["male_crew"]+=1
        elif el==3:
            movie_dict["nonbinary_crew"]+=1
    movie_dict["num_crew"]=len(crew_gender_lst)
    crew_lst.append(movie_dict)

crew = pd.DataFrame(crew_lst)

In [38]:
crew

,imdbid,title,bt_score,female_crew,male_crew,nonbinary_crew,num_crew
0,230,Cinderella,3,0,4,0,4
1,6745,Gretchen the Greenhorn,3,0,3,0,3
2,7361,Snow White,3,0,1,0,1
3,8443,The Poor Little Rich Girl,3,2,4,0,7
4,9652,Stella Maris,3,1,4,0,6
...,...,...,...,...,...,...,...
7274,2582576,Sand Castle,0,5,9,0,45
7275,6003368,Diary of a Wimpy Kid: The Long Haul,0,6,25,0,50
7276,5635086,God's Own Country,0,7,10,0,65
7277,4717402,MFKZ,0,2,4,0,12
7278,4758646,War Machine,0,5,11,0,31

In [ ]:
# SAVE TO SQL

In [16]:
dbName = "women_representation"

In [17]:
connectionData = f"mysql+pymysql://root:{sql_password}@localhost/{dbName}"

In [18]:
engine = alch.create_engine(connectionData)

In [51]:
movies.to_sql("movies", if_exists="append", con=engine, index=False)

7279

In [19]:
production_companies.to_sql("production_companies", if_exists="append", con=engine, index=False)

21392

In [24]:
cast.to_sql("cast", if_exists="append", con=engine, index=False)

7279

In [39]:
crew.to_sql("crew", if_exists="append", con=engine, index=False)

7279